<header>
  <h1>Equipment</h1>
  <ul class="equipment-list">
    <% 5.times do %>
    <li>
      <span class="color"></span>
      <span>Cement Truck</span>
      <span class="checkbox"><%= check_box_tag :active %>
    </li>
    <% end %>
  </ul>
</header>

<% content_for :map do %>
  <div id='map'></div>
  <script>
    var map_data = <%= YAML::load(File.open('sample_coordinates.yml'))['route_2'] %>

    L.mapbox.accessToken = "<%= Rails.application.secrets.mapbox_token %>";

    var map = L.mapbox.map('map', 'examples.map-h67hf2ic')
      .setView([47.6794895, -122.2637558], 14);

    var marker = L.marker([map_data[0][0], map_data[0][1]], {
      icon: L.mapbox.marker.icon({
        'marker-color': '#f86767',
        'marker-symbol': 'bus'
      })
    });

    var polyline = L.polyline([]).addTo(map);

    function drawRoute(index, data) {
      setTimeout(function() {
        var lat = data[index][0];
        var lon = data[index][1];

        marker.setLatLng(L.latLng(lat, lon));
        polyline.addLatLng(L.latLng(lat, lon));

        index++;

        if(index < data.length - 1) {
          drawRoute(index, data);
        }
      }, 1000);
    }

    drawRoute(0, map_data);

    marker.addTo(map);
  </script>
<% end %>
