.btn {
  color: #fff;
  background-color: #F1625E;
  width: 100%;
  display: block;
  padding: 8px;
  border-radius: 3px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}
