.sidebar {
  width: 350px;
  min-width: 350px;
  display: flex;

  h1 {
    margin: 0;
    background-color: #B4C5D0;
    padding: 12px;
    font-weight: normal;
    color: #fff;
    position: relative;

    .toggle {
      position: absolute;
      background-color: #8EA4B1;
      color: #fff;
      right: 0;
      height: 42px;
      width: 42px;
      top: 0;
      text-align: center;
      line-height: 40px;
    }
  }
}

.content {
  flex-grow: 1;
}

.sidebar-nav {
  min-width: 50px;
  width: 50px;
  background-color: #2C3742;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #B9CAD5;
    margin-top: 18px;

    > li {
      width: 50px;
      height: 50px;
      line-height: 55px;
      text-align: center;

    }

    i {
      font-size: 18px;
    }

    .active {
      background-color: #fff;

      i { color: #2C3742; }
    }
  }
}

.equipment-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  > li {
    padding: 5px;
    border-bottom: 1px solid #ddd;

    .color {
      padding: 0 8px;
      border-radius: 4px;
      background-color: red;
      margin-right: 5px;
    }

    .checkbox {
      position: absolute;
      right: 8px;
    }
  }
}
